@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.DateAdded)
        @Html.TextBoxFor(m => m.Movie.DateAdded, "{0:yyyy-MM-dd}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.DateRelease)
        @Html.TextBoxFor(m => m.Movie.DateRelease, "{0:yyyy-MM-dd}", new{@class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Genre.Name)
        @Html.DropDownListFor(m=>m.Movie.Genre.Id, 
            new SelectList(Model.Genres,"Id","Name","Select a genre"),
            new {@class="form-control"})
    </div>



    <div class="form-group">
        @Html.LabelFor(m=>m.Movie.Stock)
        @Html.TextBoxFor(m=>m.Movie.Stock, new { @class = "form-control"})
    </div>

    @Html.HiddenFor(m=>m.Movie.Id)
    <button type="submit" class="btn-primary">Save</button>
}